<h1>Article Details</h1>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<%= link_to 'edit', edit_article_path(@article)%> | 
<%= link_to 'delete', article_path(@article), method: :delete, data: {confirm: "Are You Sure????"}%> | 
<%= link_to 'all articles', articles_path%> | 
<%= link_to 'Home', root_path%> | 
<%= link_to 'About', about_path%>
